/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

body {
    /* background-color: khaki; */
    /* background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */
    /* background-color: #a38560;
    background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%); */
    background-color: #69140e;
    background-image: linear-gradient(315deg, #69140e 0%, #d58936 74%);
    /* background-color: #230903;
    background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    height: auto;
    margin: 5px;
    padding: 20px;
}

img {
    max-width: 300px;
    height: auto;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px auto 0px auto;
    margin-bottom: -315px;
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
}

.header-nav {
    display: flex;
    margin: 0 20px;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    transition: all .2s ease-in-out;
    justify-content: space-between;
}

#nav-link {
    color: black;
    text-decoration: none;
}

/* #nav-link {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
} */

/* #nav-link:visited,
#nav-link:link {
    background-color: #69140e;
    background-color: #d58936;
    color: black;
    color: white;
    border: 2px solid white;
} */

/* #nav-link:active {
    background-color: white;
    color: #69140e;
    border: 2px solid #69140e;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(31, 27, 27, 0.25);
} */

/* .header-nav-inspire-link {
    color: black;
} */

.headernavpopup {
    /* font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px; */
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .headernavpopup:visited,
.headernavpopup:link {
    background-color: #69140e;
    background-color: #d58936;
    color: black;
    color: white;
    border: 2px solid white;
}

.headernavpopup:active {
    background-color: white;
    color: #69140e;
    border: 2px solid #69140e;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(31, 27, 27, 0.25);
} */

.headernavpopup .infopopup-text {
    visibility: hidden;
    width: 600px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.headernavpopup .infopopup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.headernavpopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Styling the modal */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /* display: flex;
    flex-direction: column; */
    background-color: #d58936;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* .modal-links {
    display: flex;
} */

.modal-links a {
    display: flex;
    color: #000;
}

/* #modal-nav-links:active {
    display: flex;
    color: #000;
} */

/* -------------------------------------- */
/* MAIN CONTENT */
/* -------------------------------------- */

/* Click Content */

.click-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

/* Auto Clicker & Brownie Multiplier Content */

.auto-multiplier-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* -------------------------------------- */
/* LINKS */
/* -------------------------------------- */

.header-nav-meetmodal-link {
    cursor: pointer;
}

/* -------------------------------------- */
/* BUTTONS */
/* -------------------------------------- */

/* Meet The Dude! Button */

.dude-button {
    font-family: Lato;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.dude-button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
    background-color: #555555;
    color: white;
}

/* Brownie Click Me! Button */

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
    font-family: Lato;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 50px;
    width: 100px;
    font-size: large;
}

@keyframes bouncy {
    0% {
        top: 0em
    }

    40% {
        top: 0em
    }

    43% {
        top: -0.9em
    }

    46% {
        top: 0em
    }

    48% {
        top: -0.4em
    }

    50% {
        top: 0em
    }

    100% {
        top: 0em;
    }
}

/* Purchase Auto Clicker Button */

.purchase-auto-clicker-button {
    font-family:Lato;
    background-color: #d58936;
    /* background-color: white; */
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.purchase-auto-clicker-button:disabled,
.purchase-auto-clicker-button[disabled] {
    background-color: #d58936;
    opacity: 0.5;
}

/* Purchase Brownie Multiplier Button */

.purchase-brownie-multiplier-button {
    font-family: lato;
    background-color: #d58936;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.purchase-brownie-multiplier-button:disabled,
.purchase-brownie-multiplier-button[disabled] {
    background-color: #d58936;
    opacity: 0.5;
}

/* .purchase-brownie-multiplier-button:active {
    background-color:#d58936;
    color: #d58936;
} */

/* RESET Button */

.reset-button {
    background-color: #d58936;
    /* background-color: white; */
    color: black;
    font-family: Lato;
    border: 2px solid #f44336;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    position: relative;
    overflow: hidden;
}

.reset-button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.reset-button:before,
.reset-button:after {
     content: '';
     position: absolute;
     top: 0.67em;
     left: 0;
     width: 100%;
     text-align: center;
     opacity: 0;
     -webkit-transition: .4s,
     opacity .6s;
     -moz-transition: .4s,
     opacity .6s;
     -o-transition: .4s,
     opacity .6s;
     transition: .4s,
     opacity .6s;
}

.reset-button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
}

.reset-button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%, 0);
    -moz-transform: translate(150%, 0);
    -ms-transform: translate(150%, 0);
    -o-transform: translate(150%, 0);
    transform: translate(150%, 0);
}

.reset-button:hover {
    background-color: #f44336;
    color: white;
}

.reset-button:hover span,
.reset-button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.reset-button:hover:before,
.reset-button:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.reset-button:active:before {
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/* -------------------------------------- */
/* BROWNIE SPAWN */
/* -------------------------------------- */

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    /* z-index: 3; */
    z-index: -1;
}

#overlay {
    z-index: 2;
}

#overlay-transparent {
    z-index: 4;
    opacity: 0;
}

#overlay-transparent:hover {
    z-index: 4;
    opacity: .2;
}

#overlay-transparent:active {
    z-index: 4;
    opacity: 1;
}

#overlay-transparent {
    z-index: 4;
    opacity: 0;
}

.brownie-spawn {
    position: absolute;
    display: grid;
    /* display: flex; */
    grid-template-columns: 1fr 1fr 1fr;
}

/* Hell Spawn Button */
.btn-danger-hell {
    width: 130px;
    height: 50px;
    font-family: Lato;
    color: darkred;
    background-color: #d58936;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-danger-hell::before {
    content: '';
    position: absolute;
    top: -70px;
    background: url("fire.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 150px;
    z-index: -1;
    opacity: 0;
    transition: all 1s;
}

.btn-danger-hell:hover::before {
    opacity: 1;
}

/* Spawn & Rain Buttons */

.btn-danger-spawn, .btn-danger-rain {
    width: 130px;
    height: 50px;
    font-family: Lato;
    color: black;
    background-color:#d58936;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}