/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

body {
    background-color: khaki;
    height: auto;

}

img {
    max-width: 300px;
    height: auto;
}