/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

body {
    /* background-color: khaki; */
    /* background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */
    /* background-color: #a38560;
    background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%); */
    background-color: #69140e;
    background-image: linear-gradient(315deg, #69140e 0%, #d58936 74%);
    /* background-color: #230903;
    background-image: linear-gradient(315deg, #230903 0%, #d3b88c 74%); */
    height: auto;
    margin: 5px;
    padding: 20px;
}

img {
    max-width: 300px;
    height: auto;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px auto 0px auto;
    margin-bottom: -315px;
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
}

.header-nav {
    display: flex;
    margin: 0 20px;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    transition: all .2s ease-in-out;
    justify-content: space-between;
}

#nav-link {
    color: black;
    text-decoration: none;
}

/* #nav-link {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
} */

/* #nav-link:visited,
#nav-link:link {
    background-color: #69140e;
    background-color: #d58936;
    color: black;
    color: white;
    border: 2px solid white;
} */

/* #nav-link:active {
    background-color: white;
    color: #69140e;
    border: 2px solid #69140e;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(31, 27, 27, 0.25);
} */

/* .header-nav-inspire-link {
    color: black;
} */

.headernavpopup {
    /* font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px; */
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .headernavpopup:visited,
.headernavpopup:link {
    background-color: #69140e;
    background-color: #d58936;
    color: black;
    color: white;
    border: 2px solid white;
}

.headernavpopup:active {
    background-color: white;
    color: #69140e;
    border: 2px solid #69140e;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(31, 27, 27, 0.25);
} */

.headernavpopup .infopopup-text {
    visibility: hidden;
    width: 600px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.headernavpopup .infopopup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.headernavpopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Styling the modal */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /* display: flex;
    flex-direction: column; */
    background-color: #d58936;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-nav-links:active {
    display: flex;
    color: #000
}

/* -------------------------------------- */
/* MAIN CONTENT */
/* -------------------------------------- */

/* -------------------------------------- */
/* CLICK CONTENT */
/* -------------------------------------- */

.click-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.auto-multiplier-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}